* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

ul li {
	list-style: none;
}

body {
	
	font-family: PingFang-SC-Regular;
	font-size: 0.32rem;
	color: rgb(71,71,71,0.9);
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.mui-icon-back {
	position: absolute;
	left: 0.2rem;
	
}

.title {
	height: 1.28rem;
	background-color: rgb(140, 198, 63);
	padding-top: 0.58rem;
	text-align: center;
	color: rgb(255, 255, 255);
}

# title {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
}

.fonta {
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;

	color: rgb(51, 51, 51);
	line-height: 0.9rem;

	text-align: center;

}

.fontb {
	font-family: PingFang-SC-Regular;
	font-size: 0.28rem;
	color: rgb(102, 102, 102);
}


.box {
	height: 0.9rem;
	border-bottom: solid 0.01rem rgba(0, 0, 0, 0.1);
	background-color: rgb(255, 255, 255);


}

.boxa {
	padding-left: 0.12rem;
}

.boxaa {
	padding-left: 0.3rem;
}


.time {
	font-size: 0.25rem;
	margin-left: 0.3rem;
	font-family: PingFang-SC-Regular;
	color: rgb(102, 102, 102);
	border: solid 0.01rem rgba(0, 0, 0, 0.5);

}

.tf {
	margin-left: 0.3rem;
}
.boxt{
	display: flex;
	justify-content: space-between;
	margin-top: 0.2rem;
	padding-left: 1.3rem;
	padding-right: 1.3rem;
	line-height: 0.9rem;
	font-size: 0.28rem;
	color: rgba(71,71,71,0.99);
}
.boxk{
	padding-left: 0.3rem;
	margin-bottom: 0.2rem;
}
.abc{
	display: flex;
	justify-content: space-between;

	}
.level{
	position: absolute;
	right: 0.3rem;
	top: 1rem;
	width: 3.67rem;
	
	background-color: white;
}
.a{
	height: 0.78rem;
	line-height: 0.78rem;
	font-family: PingFang-SC-Regular;
	font-size: 0.26rem;
	color: rgb(51,51,51);
	text-align: center;
	border-bottom: solid 0.01rem rgba(0,0,0,0.05);
}

	.tr {
		position: absolute;
		right: 0.3rem;
		top: 0.58rem;
		color: white;
		font-family: PingFang-SC-Medium;
		font-size: 0.28rem;
	}