* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

ul li {
	list-style: none;
}

body {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.mui-icon-back {
	position: absolute;
	left: 0.2rem;

}

.title {
	height: 1.28rem;
	background-color: rgb(140, 198, 63);
	padding-top: 0.58rem;
	text-align: center;
	color: rgb(255, 255, 255);
}

# title {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
}

.fonta {
	font-family: PingFang-SC-Medium;
	font-size: 0.3rem;

	color: rgb(51, 51, 51);
	line-height: 0.9rem;



}

.fontb {
	font-family: PingFang-SC-Regular;
	font-size: 0.28rem;
	color: rgb(102, 102, 102);
}



.table{
	margin-top: 0.1rem;
	
	overflow: scroll;
	white-space: nowrap;
}

.table::-webkit-scrollbar {
	display: none;
}
table {
	
	width: 15rem;
	margin: 0 auto;
	border: solid 0.01rem rgb(221, 221, 221);
	
	font-family: PingFang-SC-Regular;
	font-size: 0.28rem;
	color: rgb(102, 102, 102);
}


td {
	

	text-align: center;
	line-height: 0.8rem;
	padding: 0 0.1rem;
	
	border: solid 0.01rem rgb(221, 221, 221);
}



tr:nth-child(even) {
	background-color: rgb(250, 255, 238);

}

tr:nth-child(odd) {
	background-color: rgb(255, 255, 255);

}


.a {
	font-size: 0.24rem;
	color: rgb(34, 34, 34);
	font-family: PingFang-SC-Medium;
}

