* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}



ul li {
	list-style: none;
}

body {

	background-color: rgb(255, 255, 255);


}

.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}



.fonta {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;

	color: rgb(51, 51, 51);

}

.fontb {
	font-family: PingFang-SC-Regular;
	font-size: 0.28rem;
	color: rgb(102, 102, 102);
}

.mui-icon-back {
	position: absolute;
	left: 0.2rem;
	
}

.title {
	height: 1.28rem;
	background-color: rgb(140, 198, 63);
padding-top: 0.58rem;
	text-align: center;
	color: rgb(255, 255, 255);
}
img {
	width: 6.9rem;
	height: 3.9rem;
}

.img {
	margin-top: 0.2rem;

}

.text {
	padding-left: 0.3rem;
}

.tt {
	margin-top: 0.2rem;
	font-family: PingFang-SC-Medium;
	font-size: 0.28rem;

	color: rgb(51, 51, 51);
}
