* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

ul li {
	list-style: none;
}
body {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.mui-icon-back {
	position: absolute;
	left: 0.2rem;

}

.title {
	height: 1.28rem;
	background-color: rgb(140, 198, 63);
	padding-top: 0.58rem;

	text-align: center;
	color: rgb(255, 255, 255);
}



# title {
	font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
}


.card {
margin-left: 0.3rem;
	padding-left: 0.9rem;
	padding-right: 0.9rem;

	margin-top: 0.2rem;

	width: 6.9rem;
	height: 1.4rem;
	border-radius: 0.1rem;
	background-color: rgb(255, 255, 255);

}

.aa {
	font-size: 0.28rem;
	line-height: 0.28rem;
	padding-top: 0.3rem;
	display: flex;
	align-self: flex-start;

	justify-content: space-between;

}

.num {
	font-size: 0.32rem;
	color: rgb(161, 203, 70);
	margin-top: 0.28rem;
	text-align: center;
}


.content{

	padding-left: 0.3rem;
	padding-right: 0.3rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	}
	
	.item{
		width: 3.3rem;
		height: 3.3rem;
		background-color: white;
		margin-top: 0.3rem;
	}

